body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  color: #fff;
  background-color: #9d032a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 1000px;
  font-size: 50px;
}
#container {
  width: 1000px;
}
#herb {
  height: 180px;
  width: 160px;
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #9d032a;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  margin-top: 30px;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#banerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#baner {
  margin-top: 20px;
  width: 600px;
  height: 300px;
}
.text {
  box-shadow: 0px 0px 5px #c4637b;
  color: #9d032a;
  margin: 5px;
  padding: 5px;
}
footer {
  height: 50px;
  color: #fff;
  background-color: #9d032a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9d032a;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ramka1 {
  width: 48%;
}
#ramka2 {
  width: 48%;
}
#ramkiobok {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#sejm2,
#senat2 {
  color: #9d032a;
  display: flex;
  justify-content: right;
  align-items: right;
}
td,
th {
  color: #9d032a;
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}
#podzial-sejm,
#podzial-senat {
  height: 60%;
  width: 60%;
  margin: 50px;
  margin-bottom: 20px;
}
.podzial-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.parzysta {
  background-color: #cca6b0;
}
